---
import { commentConfig } from "../config";

const { class: className } = Astro.props;
---

{commentConfig.enable && (
    <div class:list={["w-full onload-animation", className]}>
        <div class="card-base p-6 mb-4">
            <div class="giscus"></div>
        </div>

        <script is:inline
                src="https://giscus.app/client.js"
                data-repo={commentConfig.repo}
                data-repo-id={commentConfig.repoId}
                data-category={commentConfig.category}
                data-category-id={commentConfig.categoryId}
                data-mapping={commentConfig.mapping || "title"}
                data-strict={commentConfig.strict || "0"}
                data-reactions-enabled={commentConfig.reactionsEnabled || "1"}
                data-emit-metadata={commentConfig.emitMetadata || "0"}
                data-input-position={commentConfig.inputPosition || "top"}
                data-theme={commentConfig.theme || "preferred_color_scheme"}
                data-lang={commentConfig.lang || "zh-CN"}
                crossorigin="anonymous"
                async>
        </script>
        <script is:inline>
            if (typeof window.updateGiscusTheme === 'undefined') {
                window.updateGiscusTheme = function() {
                    const theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light'
                    const iframe = document.querySelector('iframe.giscus-frame');
                    if (!iframe) return;
                    iframe.contentWindow.postMessage({
                        giscus: {
                            setConfig: {
                                theme: theme
                            }
                        }
                    }, 'https://giscus.app');
                }

                window.handleGiscusMessage = function(event) {
                    if (event.origin !== 'https://giscus.app') return;
                    if (!(typeof event.data === 'object' && event.data.giscus)) return;
                    window.updateGiscusTheme();
                }

                document.addEventListener('theme-change', window.updateGiscusTheme);
                window.addEventListener('message', window.handleGiscusMessage);
            }
            
            // Still call it once in case the iframe is already there (e.g. navigation back to a page with comments)
            window.updateGiscusTheme();
        </script>
    </div>
) }
