---

import { profileConfig } from "../config";
import { url } from "../utils/url-utils";

const currentYear = new Date().getFullYear();
---

<!--<div class="border-t border-[var(&#45;&#45;primary)] mx-16 border-dashed py-8 max-w-[var(&#45;&#45;page-width)] flex flex-col items-center justify-center px-6">-->
<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<!--<div class="transition bg-[oklch(92%_0.01_var(&#45;&#45;hue))] dark:bg-black rounded-2xl py-8 mt-4 mb-8 flex flex-col items-center justify-center px-6">-->
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
    <div class="transition text-50 text-sm text-center">
        &copy; <span id="copyright-year">{currentYear}</span> {profileConfig.name}. All Rights Reserved. /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a> /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a><br>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="/早安喵晚安喵">早安喵晚安喵</a> /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://www.hmomc.cn/">岳麓幻境社</a> /
        <a class="transition link text-[var(--primary)] font-medium contactLink" href="mailto:miaopan607@foxmail.com">联系站长</a><br>
        友情链接：
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://www.cnblogs.com/hhhd-/">Miraii's blog</a> /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://pudding.biz/">Pudding Blog</a><br>
        Powered by
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> &
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a><br>
        本站由 <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://www.rainyun.com/miaopan_?s=a">雨云</a> 提供计算服务
    </div>
</div>

<script is:inline>
    // 1. 使用 querySelectorAll 获取所有 class 为 contactLink 的元素 
    const contactLinks = document.querySelectorAll('.contactLink'); 

    // 2. 遍历所有获取到的元素 
    contactLinks.forEach(function (link) { 
        link.addEventListener('click', function (e) { 
            // 这里不阻止默认事件(e.preventDefault)，让 mailto 正常工作 

            // 使用 setTimeout 延迟弹窗 
            // 这样浏览器会先去尝试唤起邮件客户端，然后再执行这个弹窗 
            setTimeout(function () { 
                prompt("已尝试唤起邮件客户端。\n如未成功，请复制下方邮箱手动发送：", "miaopan607@foxmail.com"); 
            }, 0); // 增加一点延迟，确保唤起动作先发生
        }); 
    }); 
</script>